body{
  background-color: #373943 !important
}
h1, h3 {
  color: white;
}
.form-position{
  text-align: center;
  margin: 50px auto 0 auto;
  border: 5px solid white;
  width:50% ;
 
 }
 .preheading{

 }
.topheading{
  text-decoration: underline;
}
 #activity{
  color: white;

 }
 #participants{
  color: white;

 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
